body {
    background-color: #e3f4ea;
    margin-left: 30px;
}
h1 {
    color: black;
    font-family: fantasy;
}
header {
    margin-top: 40px;
}
h2 {
    font-family: monospace;
}
p {
    font-size: 16px;
}
.img_padrao {
    width: 500px;
}
.img_time {
    width: 500px;
}
.img_cliente {
    width: 500px;
}
.img_contato {
    width: 80px;
}
footer {
    margin-bottom: 20px;
}